@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
  margin: 0;
  font-family: 'Amatic SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #FABD4A;
}